* {
    box-sizing: border-box;
  }
  
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://t4.ftcdn.net/jpg/03/91/64/51/360_F_391645127_Z02luwZD8RgDMaRcmROiWep611QgXAtw.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .login-form {
    max-width: 100%;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
  }
  
  .heading-secondary {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .form__group {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  input{
    width: 100%;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 0px 30px 30px 0px;
    outline: none;
  }
  
 input:hover{
    background: transparent;
    color: #0076ff;
    border: 1px solid #0076ff;
  }
  
i {
    max-width: 50px;
    height: 40px;
    margin: 10px 0px 10px 40px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 30px 0px 0px 30px;
    outline: none;
    border-collapse: collapse;
  }
  
i:hover {
    background: #0076ff;
    color: white;
    border: 1px solid #0076ff;
  }
  
  .btn {
    width: 100%;
    height: 40px;
    margin: 10px 0px 20px 0px;
    border-radius: 30px;
    outline: none;
    background: #0076ff;
    color: white;
    border: 1px solid grey;
  }
  
  .btn:hover {
    color: #0076ff;
    background: white;
  }
  