body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
}

.search-form {
    display: flex;
    align-items: center;
}

.form_contain {
    margin-right: 10px;
}

#search-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-button {
    padding: 5px 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* nav {
    background-color: #f2f2f2;
    padding: 10px;
}

.search-form {
    display: flex;
    align-items: center;
}

.form_contain {
    margin-right: 10px;
}

#search-input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#search-button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
} */

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table td, .table th {
    padding: 8px;
    border: 1px solid #ccc;
}

.table thead {
    background-color: #f2f2f2;
}

.pagination {
    margin-top: 20px;
}

.pagination button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.pagination button:last-child {
    margin-right: 0;
}

a {
    text-decoration: none;
    color: white;
}

.btn  {
    color: white;
    background-color: #4caf50;

}